{% set caresynBold      = config("Caresyn.caresyn.string.bold") %}
{% set caresynItalic    = config("Caresyn.caresyn.string.italic") %}
{% set caresynName      = config("Caresyn.caresyn.name") %}

{% block PageBody %}
        <div class="row">
            <div class="col-lg-6 col-slg-offset-3">

            {% if caresynBold == '1' %}
                <b>Hello {{ caresynName }} bei Caresyn!</b>
            {% else %}
                Hello {{ caresynName }} bei Caresyn!
            {% endif %}

                <p>
                    <br><br>
                    Na - dann wollen wir mal was testen:
                    <ul>
                        <li>caresynBold: {{ caresynBold }}</li>
                        <li>caresynItalic: {{ caresynItalic }}</li>
                        <li>caresynName: {{ caresynName }}</li>
                        <li>resultCount: {{ resultCount }}</li>
                        <li>settings1 : {{ settings }}</li>
                        <li>settings2 : {{ settings.name }}</li>
                    </ul>
                </p>
                Bisschen Stange ...
            </div>
        </div>

{% endblock %}