{% set caresynBold      = config("Caresyn.caresyn.string.bold") %}
{% set caresynItalic    = config("Caresyn.caresyn.string.italic") %}
{% set caresynName      = config("Caresyn.caresyn.name") %}

{% block PageBody %}
        <div class="row">
            <div class="col-lg-6 col-slg-offset-3">

            {% if caresynBold == '1' %}
                <b>Hello {{ caresynName }} bei Caresyn!</b>
            {% else %}
                Hello {{ caresynName }} bei Caresyn!
            {% endif %}

                <p>
                    <br><br>
                    Na - dann wollen wir mal was testen:
                    <ul>
                        <li>caresynBold: {{ caresynBold }}</li>
                        <li>caresynItalic: {{ caresynItalic }}</li>
                        <li>caresynName: {{ caresynName }}</li>
                        <li>resultCount: {{ resultCount }}</li>
                        <li>settings1 : {{ settings1.id }}</li>
                        <li>settings1 : {{ settings1.name }}</li>
                        <li>settings1 : {{ settings1.value  }}</li>
                        <li>settings1 : {{ settings1.createdAt }}</li>
                        <li>settings1 : {{ settings1.updatedAt }}</li>
                        <li>settings2 : {{ settings2.id }}</li>
                        <li>settings2 : {{ settings2.name }}</li>
                        <li>settings2 : {{ settings2.value  }}</li>
                        <li>settings2 : {{ settings2.createdAt }}</li>
                        <li>settings2 : {{ settings2.updatedAt }}</li>

                    </ul>
                </p>
                Bisschen Stange ...
            </div>
        </div>


    {% set certifiedPonus = LayoutContainer.show("Caresyn::Ponus.Container") %}
    {% if certifiedPonus|trim is not empty %}
        <div class="services-certificate m-b-1">
            <strong class="services-title">{{ trans("Caresyn::Template.generalCertifiedBy") }}</strong>
            {{ certifiedPonus }}
        </div>
    {% else %}
        Deine Mutter ....
    {% endif %}

{% endblock %}